<div class="from-search mt-4">
<form method="post">
  <div class="mb-3">
    <label for="search" class="form-label">Search</label>
    <input type="text" name="q" class="form-control" id="search">
    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <select class="form-control" name="country" id="country">
        <option>Vietnamees</option>
        <option>Japan</option>
        <option>Korea</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>